@tailwind base;
@tailwind components;
@tailwind utilities;

// how to make custom colours to use everywhere in the app without using css variables or tailwind config?

:root {
    --main-colour: #9c7c6b;
    --main-colour2: #723611;
    --main-colour3: #e4d2c8;
    --button-highlight: #FFFFFF;
        --button-face: #e4d2c8;
        --button-shadow: #808080;
        --window-frame: #0a0a0a;
    --border-raised-outer: inset -1px -1px var(--window-frame),
            inset 1px 1px var(--button-highlight);
        --border-raised-inner: inset -2px -2px var(--button-shadow),
            inset 2px 2px var(--button-face);
}

@font-face {
    font-family: 'Phlatt-Grotesk';
    src: url(https://humantooth.neocities.org/fonts/Phlatt-Grotesk.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=243493'), auto;
}

a,
a:hover,
button,
button:hover {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=243490'), auto !important;
}

@layer base {

    a,
    button {
        @apply cursor-my-pointer;
    } }

body {
    font-family: 'Phlatt-Grotesk', sans-serif;
    @apply flex justify-center items-center h-screen text-xs;

}

.mainColourText {
    color: var(--main-colour);
}

.bg-mainColour {
    background-color: var(--main-colour);
}

.bg-faint {
    background-color: var(--main-colour3);
}

.bgfaint:hover {
    background-color: var(--main-colour3);
}

.mainColourText2 {
    color: var(--main-colour2);
}

.hover\:mainColourText2:hover {
    color: var(--main-colour2);
}

.hover\:mainColourText:hover {
    color: var(--main-colour);
}



.group:hover .group-hover\:mainColourText {
    color: var(--main-colour);
}


// main {
//     @apply overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-[var(--main-colour3)] [&::-webkit-scrollbar-thumb]:bg-[var(--main-colour)] [&::-webkit-scrollbar-thumb:hover]:bg-[var(--main-colour2)];
// }

/* ===== Scrollbar CSS ===== */

::-webkit-scrollbar {
    width: 10px;
}

// ::-webkit-scrollbar:horizontal {
//     height: 14px;
// }

::-webkit-scrollbar-corner {
    background: var(--button-face);
}

// ::-webkit-scrollbar-track {
//     background-image: url("/scroll/scrollbar-background.svg");

// }

::-webkit-scrollbar-thumb {
    background-color: var(--button-face);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
}

// ::-webkit-scrollbar-button:vertical:start {
//     height: 17px;
//     width: 10px;
//     background-image: url("/scroll/button-up.svg");
// }

// ::-webkit-scrollbar-button:vertical:end {
//     height: 17px;
//     width: 10px;
//     background-image: url("/scroll/button-down.svg");
// }

.myGreyGradient {
    background: #f0f0f0;
        background: linear-gradient(0deg, rgba(240, 240, 240, 1) 0%, rgba(222, 222, 222, 1) 26%, rgba(247, 247, 247, 1) 100%);
}